<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Potter Prediction Form>blue</title>
    <link>rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Harry Potter Prediction Form</h1>
        <form id="predictionForm">
            <label for="hometown">Hometown:</label>
            <select id="hometown" name="hometown" required>
                <option value="">Select your hometown</option>
                <option value="Penang">Penang</option>
                <option value="Perak">Perak</option>
                <option value="Kedah">Kedah</option>
                <option value="Perlis">Perlis</option>
                <option value="Selangor">Selangor</option>
                <option value="Negeri Sembilan">Negeri Sembilan</option>
                <option value="Melaka">Melaka</option>
                <option value="Johor">Johor</option>
                <option value="Pahang">Pahang</option>
                <option value="Terengganu">Terengganu</option>
                <option value="Kelantan">Kelantan</option>
                <option value="Sabah">Sabah</option>
                <option value="Sarawak">Sarawak</option>
            </select>
            <label for="gpa">GPA:</label>
            <input type="text" id="gpa" name="gpa" required>
            
            <label for="activities">Co-curriculum Activities:</label>
            <select id="activities" name="activities" required>
                <option value="">Select your activities</option>
                <option value="Quidditch">Quidditch</option>
                <option value="Dueling Club">Dueling Club</option>
                <option value="Potions Club">Potions Club</option>
                <option value="Herbology Club">Herbology Club</option>
            </select>
            
            <label for="inasis">Inasis:</label>
            <select id="inasis" name="inasis" required>
                <option value="">Select your inasis</option>
                <option value="MAYBANK">MAYBANK</option>
                <option value="PROTON">PROTON</option>
                <option value="TRADEWINDS">TRADEWINDS</option>
                <option value="MAS">MAS</option>
                <option value="TNB">TNB</option>
                <option value="YAB">YAB</option>
                <option value="MUAMALAT">MUAMALAT</option>
                <option value="BSN">BSN</option>
                <option value="TM">TM</option>
                <option value="BANK ISLAM">BANK ISLAM</option>
                <option value="SIME DARBY">SIME DARBY</option>
                <option value="PETRONAS">PETRONAS</option>
                <option value="SME">SME</option>
                <option value="PERSISIRAN SINTOK">PERSISIRAN SINTOK</option>
                <option value="TAMAN UNI">TAMAN UNI</option>
            </select>
            
            <label for="income">Household Income:</label>
            <input type="text" id="income" name="income" required>

            <label for="hobbies">Hobbies:</label>
            <input type="text" id="hobbies" name="hobbies" required>

            <label for="friends">Number of Friends:</label>
            <input type="number" id="friends" name="friends" required>

            <label for="leadership">Leadership (yes/no):</label>
            <select id="leadership" name="leadership" required>
            <option value="">Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            </select> 
            
            <button type="submit">Submit</button>
        </form>
        <label id="outputLabel">Prediction Output:</label>
        <div id="output"></div>
    </div>
    <script src="../static/script.js"></script>

   </body>
</html>
